 table, th, td {
            font-family: Dancing Script, cursive;
            border: 1px solid purple;
            background: #ffe6ff;
            padding: 20px;
            text-align: right;
        }

        td{
            width: 10%;
        }

        .missing{
            background-color: #ccffff;
        }

        .empty{
            background-color: #ffcccc;
        }

        .me{
            background-color: #ccccff;
        }

        .tanar{
            background-color: #ccffcc;
        }
